@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
    var PersonList = (List<KeyValuePair<int, string>>)ViewBag.PersonList;
    var ClassList = (List<KeyValuePair<int, string>>)ViewBag.ClassList;
}

<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Blank Pageheader </h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Menü</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Öğrenciler</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Öğrenci Ekle </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">


            @using (Html.BeginForm())
            {


                <div class="form-horizontal">
                    <h4>Öğrenci Ekle</h4>
                    <hr />

                    <input type="hidden" name="PersonId" value="1" />
                    <div class="form-group">
                        <label>Kişi</label>
                        <div class="form-group">
                            <select class="form-control form-control-lg" name="PersonId">
                                @foreach (var person in PersonList)
                                {
                                    <option value="@person.Key">@person.Value</option>
                                }
                            </select>
                        </div>
                    </div>

                    <input type="hidden" name="ClassId" value="1" />
                    <div class="form-group">
                        <label>Sınıf</label>
                        <div class="form-group">
                            <select class="form-control form-control-lg" name="ClassId">
                                @foreach (var _class in ClassList)
                                {
                                    <option value="@_class.Key">@_class.Value</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Listeye Geri Dön", "Index")
            </div>

        </div>
    </div>
</div>