@using School.Library.Models;
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    var PersonList = (List<Person>)ViewBag.PersonList;
}

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>

<h2>Kişiler</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Ad Soyad</th>
        <th>Doğum Günü</th>
        <th></th>
    </tr>

    @foreach (var item in PersonList)
    {
        <tr>
            <td>
                <label>@item.Id</label>
            </td>
            <td>
                <label>@item.Prefix @item.FirstName @item.MiddleName @item.LastName</label>
            </td>
            <td>
                <label>@item.BirthDay</label>
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
